body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: auto; /* Adjust the top margin as needed */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column; /* Updated to a column layout */
    margin-bottom: 20px;
}

.form-group label {
    text-align: left;
    margin-bottom: 5px; /* Add a margin to separate label and input */
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 10px); /* Updated to full width with a small gap */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    margin-bottom: 5px; /* Add a margin to separate input and small text */
}

.form-group small {
    font-size: 12px; /* Adjust font size */
    font-style: italic; /* Apply italic style */
    margin-top: 5px; /* Add margin to separate small text from input */
    text-align: left;
}

.education-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.char-count {
    font-size: 12px;
    color: #888;
}

#hiddenFields {
    display: none;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


